# Project files
CMakeLists.txt.user
*.aps

# Chromium Embedded Framework
Browse/include
Browse/libcef_dll
Browse/Release
Browse/Debug
Browse/tests
Browse/Resources
Browse/README.txt
Browse/LICENSE.txt
Browse/cef_paths.gypi
Browse/cef_paths2.gypi

# Build folder
BUILD
build

# CLion files
.idea

# Other
*.orig

# Unignore specific files
!go-speech-recognition.dll
